// https://www.quackit.com/css/css_color_codes.cfm

$paper-white: #fefefe;
$charcoal: #4e4e4e;
$pure-black: #000;
$pure-white: #fff;
$sky-blue: #4183e5;
$battleship-grey: #4b5b72;
$light-grey-blue: #d5dce8;
