// https://www.quackit.com/css/css_color_codes.cfm

$pure-white: #fff;
$paper-white: #fefefe;
$off-white: #e5e5e5;
$light-grey-blue: #d5dce8;
$charcoal: #4e4e4e;
$battleship-grey: #4b5b72;
$pure-black: #000;

$sky-blue: #4183e5;
$navy-blue: #061a51;
$firetruck-red: #ce2029;
$medium-green:  #0db213;
$forest-green: #014421;
$parakeet-yellow: #f1f911;
