// https://www.quackit.com/css/css_color_codes.cfm

$paper-white: #fefefe;
$light-grey-blue: #d5dce8;
$battleship-grey: #4b5b72;
$black: #000;

$sky-blue: #4183e5;
$navy-blue: #061a51;
$firetruck-red: #ce2029;
$medium-green:  #0db213;
$parakeet-yellow: #f1f911;
