$background-color: $sky-blue;
$font-color: $pure-black;
$quote-color: $off-white;
$cell-size: 10 * $font-size;
$board-size: 3 * $cell-size;

header {
  background-color: $navy-blue;
  color: $parakeet-yellow;
}

body {
  background-color: $background-color;
  color: $font-color;
}

hr {
  clear: both;
  visibility: hidden;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: $board-size;
  width: $board-size;
}

.cell {
  background: $paper-white;
  border: 2px solid $pure-black;
  height: $cell-size;
  width: $cell-size;

  &:hover {
    cursor: pointer;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.game {
  background: $navy-blue;
  display: inline-block;
  height: 2 * $font-size;
  padding: .2 * $font-size;
}

.hidden {
  display: none;
}

.message-board {
  background: $light-grey-blue;
  height: 3.8 * $font-size;
}

.results {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scoreboard {
  background: $light-grey-blue;
  height: 2.5 * $font-size;
}
