$background-color: $sky-blue;
$font-color: $pure-black;
$quote-color: $off-white;
$cell-size: 10 * $font-size;
$board-size: 3 * $cell-size;

body {
  background-color: $background-color;
  color: $font-color;
}

hr {
  clear: both;
  visibility: hidden;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: $board-size;
  width: $board-size;
}

.cell {
  background: $paper-white;
  border: 2px solid $pure-black;
  height: $cell-size;
  width: $cell-size;

  &:hover {
    cursor: pointer;
  }
}

.message-board {
  background: $light-grey-blue;
  height: 2.5 * $font-size;
}
