$font-size: 18px;
$line-height: 1.6;
$vertical-margin: 40px;
$max-width: 650px;
$horizontal-padding: 10px;
$heading-line-height: 1.2;
$cell-font-size: 7 * $font-size;

header {
  font-size: 3 * $font-size;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  margin: $vertical-margin auto;
  max-width: $max-width;
  padding: 0 $horizontal-padding;
}

h1,
h2,
h3 {
  line-height: $heading-line-height;
}

.cell {
  font-size: $cell-font-size;
  text-align: center;
}

.game {
  color: $battleship-grey;
}

.notover {
  color: $parakeet-yellow;
}

.success {
  color: $medium-green;
  text-align: center;
  text-shadow: $pure-black 1px 1px;
}

.failure {
  color: $firetruck-red;
  text-align: center;
  text-shadow: $pure-black 1px 1px;
}

.scoreboard {
  font-style: italic;
}
