$font-size: 2.5vh;
$line-height: 1.2 * $font-size ;
$max-width: 70vw;
$margin: 15vw; // NOTE: 2 * this value = 100 - 70 (above)
$horizontal-padding: .5 * $font-size;
$vertical-padding: .3 * $font-size;
$cell-font-size: 8 * $font-size;

header {
  font-size: 3 * $font-size;
  font-style: italic;
  font-weight: 600;
  line-height: 4 * $font-size;
  text-align: center;
}

body {
  font-size: $font-size;
  margin: $margin auto;
  max-width: $max-width;
  padding: 0 $horizontal-padding;
}

.cell {
  font-size: $cell-font-size;
  text-align: center;
  vertical-align: middle;
}

.game {
  color: $battleship-grey;
}

.notover {
  color: $parakeet-yellow;
}

.success {
  color: $medium-green;
  text-align: center;
  text-shadow: $black 1px 1px;
}

.failure {
  color: $firetruck-red;
  text-align: center;
  text-shadow: $black 1px 1px;
}

.score {
  color: $dark-green;
  font-size: 2 * $font-size;
  font-style: italic;
  font-weight: 600;
  padding-top: .3 * $font-size;
  text-shadow: $black 1px 1px;
}
