$font-size: 18px;
$line-height: 1.6;
$max-width: 650px;
$horizontal-padding: 10px;
$vertical-padding: 5px;
$cell-font-size: 7 * $font-size;

header {
  font-size: 3 * $font-size;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  margin: 40px auto;
  max-width: $max-width;
  padding: $horizontal-padding $vertical-padding;
}

.cell {
  font-size: $cell-font-size;
  text-align: center;
}

.game {
  color: $battleship-grey;
}

.notover {
  color: $parakeet-yellow;
}

.success {
  color: $medium-green;
  text-align: center;
  text-shadow: $black 1px 1px;
}

.failure {
  color: $firetruck-red;
  text-align: center;
  text-shadow: $black 1px 1px;
}

.scoreboard {
  font-style: italic;
}
